<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title></title>
</head>
<body>
    <script src="/common.dll.js"></script>
    <script src="/antd.dll.js"></script>
    <script src="/vendors.dll.js"></script>
    <script src="/antdStyles.dll.js"></script>
    <div id="container"></div>
</body>
</html>